:root {
    --primary-color: #273B4C;
    /* dark blue-green */
    --secondary-color: #045773;
    /* clear river-blue */
    --accent1-color: rgba(255, 183, 3, 0.85);
    /* bold yellow/gold */
    --accent2-color: #FFFFFF;
    /* white */
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Lato", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}

header img {
    width: 110px;
    height: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 0px;
    background-color: var(--accent2-color);
}

.hero article img {
    float: right;
    width: 85px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    padding: 0.5rem 1.5rem;
    /* border: 1px solid #666; */
    text-decoration: none;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-gap: 20px;
    align-items: center;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.history img {
    width: 100%;
    height: auto;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}

.adventure h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.adventure img {
    width: 100%;
    height: auto;
}

.adventure figcaption {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}